.item:nth-child(1)
{
	background-image: url('./images/FixAnglePanel.png');
}

.item:nth-child(3)
{
	background-image: url('./images/AngleAdjustableWithSlidePanel.png');
}

.item:nth-child(7)
{
	background-image: url('./images/20inchBase.png');
}

.item:nth-child(8)
{
	background-image: url('./images/24inchBase.png');
}

.item:nth-child(9)
{
	background-image: url('./images/4LegBase.png');
}

.item:nth-child(11)
{
	background-image: url('./images/4inchTwinWheelCaster.png');
}

.item:nth-child(12)
{
	background-image: url('./images/3inchTwinWheelCaster.png');
}

.item:nth-child(13)
{
	background-image: url('./images/Basket.png');
}