@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" );
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');  

.background
{
	position: absolute;
	height: 400%;
	width:  100%;
	background-color: rgba(52, 50, 50, 1);
}

main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#digitalRainBackground
{
	position: fixed;
	width: 100%;
	height: 100%;
}

#fimawork_logo
{
	position: fixed;
	width: 100%;
	height: 100%;
}

#digitalRain
{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.logo
{
	position:fixed;
	top:3%;
	left: 3%;
	height: 30px;
	aspect-ratio: 80/13.75;
	background-image: url(./images/fimawork_logo_C_white.png);
	background-size: 100% 100%;
	opacity: 1;
	z-index: 9;
	cursor: pointer;
}

h3
{
	margin-top: 30px;
	margin-right: -3px;
	font-family:"Inter", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
	font-weight: 300;
	text-align: right;
	letter-spacing: 9px;
}

#profile_panel
{
	position:fixed;
	bottom:3%;
	right: 3%;
}

.profile_info
{
	font-family:"Inter", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
	margin-bottom: 3px;
}


.profile_info:nth-child(1)
{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

#slogan
{
	position: absolute;
	right: 0px;
	left: 0px;
	top: 69%;
	text-align: center;
	font-family:"Inter", sans-serif;
	font-weight:400;
	font-size: 24px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.9);
	user-select: none;
}

.vignette 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 210px rgba(0,0,0,0.9) inset;
	pointer-events: none;
}

button
{
	all: unset; /* 清除預設樣式 */ 
    position: relative;
    right: 3%;
    width: 6%;
    height: 100%;
    z-index: 3;
    pointer-events: auto;
	cursor: pointer;
}
	
.btn_text
{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-family:"Inter", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
	display: block;
	user-select: none;
}


h1
{
	all: unset; /* 清除預設樣式 */ 
	position: absolute;
	top: 24%;
	text-align: center;
    font-family:"Inter", sans-serif;
    font-size: 42px;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 1);
	user-select: none;
}

h2
{
    margin-top: 6%;
	text-align: center;
    font-family:"Inter", sans-serif;
    font-size: 24px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	padding-left: 18%;
	padding-right: 18%;
}

footer
{
    margin-top: 6%;
	text-align: center;
    font-family:"Inter", sans-serif;
    font-size: 27px;
	color: rgba(255, 255, 255, 1);
	padding-left: 18%;
	padding-right: 18%;
}

p
{
	margin-top: 3%;
	padding-left: 12%;
	padding-right: 12%;
	text-align: center;
    font-family:"Inter", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
}

#content_01
{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
}

#content_02
{
	position: absolute;
	top: 200%;
	right: 0%;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
}

#content_03
{
	position: absolute;
	top: 300%;
	right: 0%;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
	flex-direction: column;
}

.demo_window
{
    position: relative;
    margin: 39px;
    top: 57%;
    width: 480px;
    height: 50%;
    transform: translate(0%,-50%);
}

.demo_movie
{
    height: 270px;
    width: 480px;
	background-image: url(./images/MedicalCartConfiguratorDemo.gif);
	background-size: 100% 100%;
    border-radius: 15px;
	cursor: pointer;

	border:solid;
		border-width:1px;
		border-color: rgb(0, 217, 255);
}

.tech_window
{
    position: relative;
    margin: 39px;
    top: 57%;
    width: 300px;
    height: 50%;
    transform: translate(0%,-50%);
}

.tech_img
{
	position: relative;
	left: 50%;
    height: 210px;
    width: 210px;
	transform: translate(-50%,0%);
}

nav{
    position:fixed;
	right: 0%;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content:right;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9;
	pointer-events: none;
}



@keyframes SceneCrossEffect 
{
	0% {filter: blur(4.5px);}
	100%{filter: blur(0px);}
}

.SceneCrossEffect_anim
{
	animation: SceneCrossEffect ;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function:linear;
}

#anchor_01
{
	position: absolute;
	top: 150%;
	left: 50%;
	width: 1%;
	height: 1%;
	transform: translate(-50%, -50%);
}

#anchor_02
{
	position: absolute;
	top: 250%;
	left: 50%;
	width: 1%;
	height: 1%;
	transform: translate(-50%, -50%);
}

#anchor_03
{
	position: absolute;
	top: 350%;
	left: 50%;
	width: 1%;
	height: 1%;
	transform: translate(-50%, -50%);
}

i
{
	position: relative;
	left: 50%;
	top: 50%;
	color: rgba(255, 255, 255, 0.3);
	transform: translate(-50%,-50%);
}


@media (hover: hover) 
{
	.logo:hover
	{
		opacity: 0.5;
	}

	.btn_text:hover
	{
		color: rgba(255, 255, 255, 0.45);
	}

	.demo_movie:hover
	{
		opacity: 0.5;
	}

	i:hover
	{
		color: rgba(255, 255, 255,0.8);
	}
}



@media screen and (max-width:900px)
{

	.logo
	{
		top:3%;
		left: 6%;
		height: 24px;
	}

	h3
	{
		margin-top: 24px;
		margin-right: -2px;
	    font-size: 15px;
		text-align: right;
		letter-spacing: 4.2px;
	}

                nav{
                    position:fixed;
					right: 5%;
                    bottom: 2%;
                    width: 90%;
                    height: 8%;  
					background: rgba(250, 250, 250, 0);
	}



                button{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                    width: 33.3%;
                    height: 100%;
					
                }
                
                .btn_text{
                    position: relative;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 1);
					display: none;
                }

				.btn_text:hover{
				color: rgba(0, 0, 0, 1);
				}


#slogan
{
	top: 50%;
	padding-left: 6%;
	padding-right: 6%;
	font-size: 30px;
	text-align: center;
	white-space: pre-line;
	transform: translate(0%,-50%);
}

h1
{
	top: 6%;
	right: 0%;
	left: 0%;
	font-size: 30px;
}

h2
{
	font-size: 21px;
	color: rgba(255, 255, 255, 1);
}

footer
{
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}

p
{
	margin-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
    font-family:"Inter", sans-serif;
	font-weight: 200;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.9);
}

#content_01
{
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 100%;
	display:grid;
}

#content_02
{
	position: absolute;
	top: 210%;
	right: 0%;
	width: 100%;
	height: 100%;
	display:grid;
}

#content_03
{
	position: absolute;
	top: 310%;
	right: 0%;
	width: 100%;
	height: 100%;
}

.demo_window
{
    position: relative;
	margin-top: 0.1%;
	margin-bottom: 0.1%;
    width: 80%;
}

.demo_movie
{
	position: relative;
	left: 50%;
    width: 320px;
	height: 180px;
	background-image: url(./images/MedicalCartConfiguratorDemo.gif);
	background-size: 100% 100%;
    border-radius: 15px;
	transform: translate(-50%,0%);
}

.tech_window
{
    position: relative;
   	margin-top: 0.1%;
	margin-bottom: 0.1%;
    width: 80%;
}

.tech_img
{
	position: relative;
	top: 0%;
    height: 150px;
	width: 150px;
	transform: translate(-50%,0%);
}

i
{
	scale: 0.75;
	transform: translate(-75%,-50%);
}

#profile_panel
{
	position:absolute;
	top: 390%;
	left: 50%;
	transform: translate(-50%,-50%);
}



				#anchor_01
				{
					position: absolute;
					top: 142%;
					left: 50%;
					width: 1%;
					height: 1%;
					transform: translate(-50%, -50%);
				}

				#anchor_02
				{
					position: absolute;
					top: 233%;
					left: 50%;
					width: 1%;
					height: 1%;
					transform: translate(-50%, -50%);
				}

				#anchor_03
				{
					position: absolute;
					top: 328%;
					left: 50%;
					width: 1%;
					height: 1%;
					transform: translate(-50%, -50%);
				}

}
