@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" );

.mainBtn_panel
{
	position: absolute;
	left: 2%;
	bottom: 2%;
	width: 174px;
	height: 42px;
	border-radius: 22.5px 22.5px;
	background: rgba(255, 255, 255, 0.75);
}	

.setting_btn
{
	position: absolute;
	top: 21px;
	right: -10px;
	width: 33px;
	height: 33px;
	border-radius: 50% 50%;
	background: rgba(255, 255, 255, 1);
	transform: translate(-50%,-50%);

	display: flex;
	justify-content: center;
}

.setting_btn:hover
{
	background: rgba(255, 255, 255, 0.3);
}

.arrow_btn:nth-child(1)
{
	position: absolute;
	top: 22.5px;
	left: 22px;
	width: 36px;
	height: 36px;
	border-radius: 50% 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
}

.arrow_btn:nth-child(2)
{
	position: absolute;
	top: 22.5px;
	left: 110px;
	width: 36px;
	height: 36px;
	border-radius: 50% 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
}

.arrow_btn:hover
{
	opacity: 0.3;
}

.num_panel
{
	position: absolute;
	top: 21px;
	left: 64px;
	width: 45px;
	height: 33px;
	border-radius: 18px 18px;
	background: rgba(255, 255, 255, 1);
	transform: translate(-50%,-50%);

}

#index_num
{
	margin-top: 3px;
	text-align: center;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 21px;
	color: rgba(60, 60, 60,1);
}


.header
{
	position: absolute;
    right: 0px;
    left: 0px;
    top: 60%;
    text-align: center;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 45px;
    color: rgba(255, 255, 255, 1);
	z-index: 99;
}

i
{
	opacity: 0.6;
	scale: 0.75;
}

.title
{
	position: relative;
    text-align: center;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 42px;
    color: rgba(255, 255, 255, 1);
	margin-bottom: 30px;
}

.paragraph
{
	position: relative;
    text-align: left;
    font-family:"Inter", sans-serif;
	font-weight:300;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#logo
{
	position: absolute;
	right: 3%;
	bottom:-2%;
	width: 120px;
	height: 120px;
	background-image: url('./images/fimawork_logo_white.png');
	background-size: 100% 100%; 
	opacity: 0.9;
	pointer-events: none;
}

@keyframes logo_explode_effect {
	0% {background-image: url('./images/Logo_explode_01.png');}
	10%{background-image: url('./images/Logo_explode_02.png');}
	40%{background-image: url('./images/Logo_explode_03.png');}
	60%{background-image: url('./images/Logo_explode_04.png');}
	80%{background-image: url('./images/Logo_explode_05.png');}
	100%{background-image: url('./images/fimawork_logo_white.png');}
}

.logo_explode_effect_anim{
	animation: logo_explode_effect;
	animation-duration: 1.2s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function:linear;
}

#title3D
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#content
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p02_content_holder
{
	position: absolute;
	display: flex;
	width: 66%;
	height: 50%;
	left: 50%;
	top: 50%;
	padding: 1%;
	z-index: 9;
	transform: translate(-50%,-50%);
	padding-top:9% ;
}

#p04_content_holder
{
	position: absolute;
	display: flex;
	width: 66%;
	height: 50%;
	left: 50%;
	top: 50%;
	padding: 1%;
	z-index: 9;
	transform: translate(-50%,-50%);
	padding-top:9% ;
}

.p02_content
{
	margin: auto;
	height: 100%;
	width: 50%;
}

.p04_content
{
	margin: auto;
	height: 100%;
	width: 21%;
}



@keyframes page_fadeOut_effect 
{
	0% {top:0%;filter: blur(0px);}
    5% {top:0%;filter: blur(0px);}
	100%{top:-100%;filter: blur(6px);}
}

.fadeOut_anim
{
	animation: page_fadeOut_effect;
    animation-delay: 1s;
	animation-duration: 2s;
    animation-iteration-count:1;
	animation-timing-function:cubic-bezier(0.01, 0.67, 0.74, 0.75);
	animation-fill-mode: forwards;
}

@keyframes heading_up 
{
	0% {top: 60%;left: 0px;right: 0px;opacity: 1;text-align: center;font-size: 45px;}
	50% {top: 32.5%;left: 0%;opacity: 0;text-align: center;font-size: 45px;}
	80% {top: 18.5%;left: 3%;opacity: 0;text-align: left;font-size: 60px;}
	100%{top: 5%;left: 3%;opacity: 1;text-align: left;font-size: 60px;}
}

.heading_up_anim
{
	animation: heading_up 0.75s ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}