
			
.header
{
	position: absolute;
    right: 0px;
    left: 0px;
    top: 60%;
    text-align: center;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 45px;
    color: rgba(255, 255, 255, 1);
	z-index: 99;
}

.title
{
	position: absolute;
    text-align: center;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 45px;
    color: rgba(255, 255, 255, 1);
	z-index: 9;
}

#p01
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p02
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p03
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p04
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p05
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p06
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#p04_content_holder
{
	position: absolute;
	width: 36%;
	height: 60%;
	left: 57%;
	top: 18%;
	padding: 1%;
	z-index: 9;
}

.title
{
	position: relative;
    text-align: left;
    font-family:"Inter", sans-serif;
	font-weight:400;
    font-size: 39px;
    color: rgba(255, 255, 255, 1);
	margin-bottom: 6px;
}

.content
{
	position: relative;
    text-align: left;
    font-family:"Inter", sans-serif;
	font-weight:300;
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
	margin-bottom: 75px;
}



@keyframes page_fadeOut_effect 
{
	0% {top:0%;filter: blur(0px);}
    5% {top:0%;filter: blur(0px);}
	100%{top:-100%;filter: blur(6px);}
}

.fadeOut_anim
{
	animation: page_fadeOut_effect;
    animation-delay: 1s;
	animation-duration: 2s;
    animation-iteration-count:1;
	animation-timing-function:cubic-bezier(0.01, 0.67, 0.74, 0.75);
	animation-fill-mode: forwards;
}
